.Header {
    display: flex;
    justify-content: space-between;
    background-color: #EEE;
    align-items: center;
    padding: 10px 20px;
}

.Header .Menu {
    display: flex;
    column-gap: 20px;
    

}

